[Desktop Entry]
Name=The Diary
Name[sv]=Dagboken
Comment=Picture diary for children with autism
Comment[sv]=Bilddagbok för barn
Exec=dagboken
Icon=se.danielnylander.dagboken
Type=Application
Categories=Education;Accessibility;Autismappar
